@media(max-width:540px) {

    .container {

        height: 100%;
        width: 100%;
        padding: 24px;
      
    }


    .container .main {
        display: grid;
        grid: "principal "
            "avaliacoes"
            "depoimentos ";
           

    }

    .container .main .principal h1 {

        font-size: 2.5rem;
        max-width: 327px;
        margin-top:50px ;
    }

    .container .main .principal p {
        max-width: 327px;
    }

    .container .avaliacoes .avaliacao {
       flex-direction: column;
        max-width: 327px;
    }

    .container .avaliacoes .avaliacao.report-guru {
        margin-left: 0;
    }

    .container .avaliacoes .avaliacao.best-tech {
        margin-left: 0;
    }

    .container .main .depoimentos {
        flex-direction: column;
       

    }
    .container .depoimentos .card-depoimento {
    
    margin-right: 0;
    }
   


}