.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .main {
    display: grid;
    grid: "principal avaliacoes"
        "depoimentos depoimentos";
    grid-template-columns: minmax(327px, 545px) minmax(327px, 545px);
}

/* ---------------------------------------------------------------------------------- */
.container .main .principal {
    grid-area: principal;
    margin-bottom: 71px;
}

.container .main .principal h1 {

    font-size: 3.5rem;
    letter-spacing: -0.125rem;
    color: #512051;
    max-width: 445px;
    margin-bottom: 1rem;
}

.container .main .principal p {

    font-size: 1.18rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.63px;
    max-width: 445px;
    color: #927B91;

}



/* ---------------------------------------------------------------------------------- */
.container .main .avaliacoes {
    grid-area: avaliacoes;

}

.container .avaliacoes .avaliacao {
    display: flex;
    background-color: #F7F2F7;
    padding: 1.125rem;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 8px;
    max-width: 445px;
}

.container .avaliacoes .avaliacao ul {
    display: flex;
  
}
.container .avaliacoes ul ::before {
    content: '';
    background-image: url(../images/icon-star.svg);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height: 15px;
    width: 30px;
    display: inline-block;

}
.container .avaliacoes .avaliacao p {
    color: #512051;
    font-weight: 700;
    font-size: 1.06rem;
}

.container .avaliacoes .avaliacao.report-guru {
    margin-left: 48px;
}

.container .avaliacoes .avaliacao.best-tech {
    margin-left: 99px;
}


/* ---------------------------------------------------------------------------------- */

.container .main .depoimentos {
    grid-area: depoimentos;
    display: flex;
}
.container .depoimentos .card-depoimento {
    background-color: #512051;
    margin-right: 30px;
    border-radius: 8px;
    max-width: 350px;
    height: 234px;
    padding: 0 32px;

}

.container .depoimentos .card-depoimento .cliente {
    display: flex;
    align-items: center;
}

.container .depoimentos .card-depoimento .cliente img {
    border-radius: 50px;
    max-width: 40px;
    margin: 40px 23px 32px 0;
}

.container .depoimentos .card-depoimento .cliente .dados-cliente .nome {
    font-size: 1.06rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}

.container .depoimentos .card-depoimento .cliente .dados-cliente .verificado {
    color: #EE69A4;
    font-size: 1.06rem;
}

.container .depoimentos .card-depoimento .cliente .dados-cliente span {
    display: block;
}

.container .depoimentos .card-depoimento .depoimento-cliente {
    color: #fff;
    font-weight: 500px;
    font-size: 1.06rem;
    line-height: 22px;
    max-width: 286px;
    letter-spacing: -0.3px;

}

.container .depoimentos .card-depoimento.irene {
    margin-top: 16px;
}

.container .depoimentos .card-depoimento.anne {
    margin-top: 32px;
}